#body {
 display: flex;
 height: 100vw;
 width: 100vw;
 justify-content: space-between;
 font-family: "Agbalumo", sans-serif;
 font-weight: lighter;
 font-size: 16px;
 padding: 5%;
 background: url(./media/background.jpg) no-repeat center fixed;
 background-size: cover;
}

.App {
 display: flex;
 flex-flow: row nowrap;
 justify-content: flex-start;
 align-items: center;
}

#form {
 width: 25vw;
 height: fit-content;
 background-color: blueviolet;
 opacity: 80%;
 padding: 2%;
 border-radius: 50px;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: Agbalumo;
}

.form {
 text-align: center;
}

label {
 font-family: "Raleway", sans-serif;
 font-size: 12px;
}

#category {
 font-size: 16px;
}

input {
 width: 100%;
}

button {
 color:aqua;
 background-color: black;
 padding: 2% 10%;
 border-radius: 30px;
}

h2 {
 color: black;
}

#results {
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
 background-color: rgb(43, 204, 78);
 padding: 2%;
 border-radius: 30px;
 opacity: 70%;
}

h1 {
 color: black;
}

.title {
 padding-top: 4%;
 font-size: 18px;
 font-weight: bolder;
}

.desc {
 font-family: "Raleway", sans-serif;
}

p {
 margin: 0;
 padding: 0;
}
